<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Name</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header>
        <div class="custom-header">
            <div class="citidex-name">Citidex</div>            
            <a class="header-text" href="about.html">about</a>
        </div>
    </header>

    <div class="main-content-container" style="width: 1280px; margin: 0 auto;">
                <div class="text-container" style="max-width: 350px;">
                    <h2 style="font-family: 'Abhaya Libre', serif; font-size: 50px; margin-bottom: 0;">Compare cost of living in cities across the U.S.</h2>
                    <p class="par-text" style="font-size: 16px; margin: 0; margin-top: 7px; margin-bottom: 32px;">Citidex makes it easy to compare the cost of living in places across the U.S. so that you can make the right decision for you -- go higher precision by comparing counties, or look at the bigger picture by comparing states.</p>
                   <div class="browse-by-buttons"> 
                        <button class="browse-by-button">Browse by Search</button>
                        <button class="browse-by-button">Browse by Map</button>
                        <button class="browse-by-button">Browse by Filter</button>
                   </div>
                   <!-- 
                    <form class="d-flex align-items-center">
                        <input class="form-control" type="text" placeholder="Search here...">
                        <button class="btn btn-success btn-lg" type="submit">Search</button>
                    </form> -->
                </div>
            <div class="image-container" style="height: 450px; padding: 12px;">
                <img class="usa" style="min-height: 300px; height: 414.896px; width: 657.323px;" src="{{ url_for('static', filename='logo-placeholder.png') }}" alt="Citidex logo">
            </div>
    </div>
    
    <footer>
        <div class="custom-footer">
            <div class="footer-images" style="display: flex;">
            <img style="max-height: 40%; max-width: 10%; margin: 5%; flex: 1;" src="static/logo-placeholder.png"> 
            <img style="max-height: 40%; max-width: 10%; margin: 5%; flex:1;" src="{{ url_for('static', filename='logo-placeholder.png') }}"> 
        </div>
            <div class="footer-text" style="font-size: 15px; align-self: center; margin: 5%">© 2024 Aminah Statham-Adams. All rights reserved.</div>
        </div>
    </footer>

</body>

</html>
